.header-container{
    /* position: absolute; */
    inset: 0;
    background-color: white;

}

.header-details{
    display: flex;
    justify-content: space-between;
    height: 30vw;
    background-color: var(--secondary-color);
    border-radius: 35px 35px 0 0;
}

.header-main{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-main img{
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
}

.header-main span{
    font-size: 1.2rem;
    color: white;
}

.icon-close{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem .6rem 0 .7rem;
    cursor: pointer;
}

.icon-edit{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem 2.5rem 0 .7rem;
    gap: .4rem;
    cursor: pointer;
}

.character{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
}

.titles{
    color: var(--quaternary-color);
}