/* Product List */

.list-container{
    padding: 1rem;
}

.principal{
    /* position: relative; */
}

.principalNone{
    display: none;
}

.item{
    display: flex;
    align-items: center;
    height: 5rem;
    gap: 1rem;
    -webkit-box-shadow: 0px 2px 0px 0px #3c40434d; 
    box-shadow: 0px 2px 0px 0px #3c40434d;
}

.product-title{
    color: var(--product-title-color);
    font-weight: lighter;
    margin: 1rem 0 -.5rem 0;
}

.description{
    width: 60vw;
    font-size: .8rem;
    color: var(--quaternary-color);
}

.qnt{
    color: var(--product-title-color);
}

.inventory{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.inventory-title{
    font-size: .8rem;
}
.inventory-yellow{
    color: rgb(231, 223, 0);
}
.inventory-red{
    color: red;
}

span{
    text-align: right;
}

.img-add{
    float: right;
    margin-top: 320px;
    width: 3rem;
    height: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
}


/* Modal details */

.header-container{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: white;

}

.header-details{
    display: flex;
    justify-content: space-between;
    height: 30vw;
    background-color: var(--secondary-color);
    border-radius: 35px 35px 0 0;
}

.header-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-main img{
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
}

.header-main span{
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.icon-close{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem .6rem 0 .7rem;
    cursor: pointer;
}

.icon-change{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem 2.5rem 0 .7rem;
    gap: .4rem;
    cursor: pointer;
}

.character{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
}

.titles{
    color: var(--quaternary-color);
}