.add-container{
    /* position: absolute; */
    /* inset: 0; */
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2189cd 0%, #319cc7 35%, #42afc0 100%);
}

.containerNone{
    display: none;
}

.add-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots{
    border: 1px solid #080c0e;
    border-radius: 50%;
    background-color: transparent;
    margin: .2rem;
    width: 10px;
    height: 10px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 1s;
}

.dots:hover{
    background-color: #080c0e;
}

.icon-close-product{
    width: 1.5rem;
    display: flex;
    height: 1.5rem;
    cursor: pointer;
}

.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    color: var(--tertiary-color);
}

.add-title{
    font-weight: lighter;
}

.input{
    border: none;
    border-bottom: 2px solid var(--tertiary-color);
    background-color: transparent;
    height: 5vh;
    color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
}

#picture-input {
    display: none;
  }
  
  .picture {
    width: 350px;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px dashed #aaa;
    cursor: pointer;
  }
  
  .picture:hover {
    opacity: 0.3;
    transition: 0.5s;
  }
  
  .picture-image {
    text-align: center;
    padding: 1rem;
    color: black;
  }

.input::-webkit-input-placeholder {
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: lighter;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52vh;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-top: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    font-size: 1.4rem;
    cursor: pointer;
}
